<div class='modal fade' id='movieDetails' role='dialog'>
   <div class='modal-dialog modal-dialog-centered'>
      <div class='modal-content'>
         <div class='modal-header'>
            <h3 class='modal-title' id='movieDetailTitle'></h3>
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class='modal-body'>
            <div class='text-center font-weight-bold error' id='updateRes'></div>
            <form id='updateForm'>
               <input type="text" name="movie_id" id="movie_id" class='hide'>
               <div class='form-group'>
                  <label for="newRelease" class='form-text'>Release:</label>
                  <input type="text" name="newRelease" id="newRelease" class='form-control'>
               </div>
               <div class='form-group'>
                  <label for="drating" class='form-text'>Rating:</label>
                  <p class='form-text ml-2' id='drating'></p>
                  <select name="newRating" id="newRating" class='form-control hide'>
                     <option value="select">--Select--</option>
                     <option value="G">G</option>
                     <option value="PG">PG</option>
                     <option value="PG-13">PG-13</option>
                     <option value="R">R</option>
                     <option value="NR">NR</option>
                  </select>
                  <button type='button' class='btn btn-secondary btn-sm' id='changeRating'>Change Rating</button>
               </div>
               <div class='form-group'>
                  <label for="newDescription" class='form-text'>Description:</label>
                  <input type="text" name="newDescription" id="newDescription" class='form-control'>
               </div>
               <div class='form-group'>
                  <label for="genres" class='form-text'>Genres:</label>
                  <ul id='genres' class='ml-2 list-unstyled'></ul>
                  <div class='genres hide' id='newGenres'>
                     <% genres.forEach((item) => {%>
                        <div class='form-check form-check-inline'>
                           <input type="checkbox" name="genres[]" id="<%= item.genre%>" value='<%= item.genre%>' class='form-check-input genreCheck'>
                           <label for="<%= item.genre%>" class='form-check-label'><%= item.genre%></label>
                        </div>
                     <% });%>
                     <small>Select all desired genres</small>
                  </div>
                  <button type='button' class='btn btn-secondary btn-sm' id='changeGenres'>Change Genres</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='update'>Update</button>
         </div>
      </div>
   </div>
</div>