<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Dashboard</title>
   <link rel="stylesheet" type='text/css' href="/css/bootstrap.css">
   <link rel="stylesheet" type='text/css' href="/css/styles.css">
</head>
<body>
   <div id='header' class='shadow-sm p-3'>
      <h1>Movie Catalog</h1>
      <p class='ml-3'>Welcome <%= body.username%></p>
   </div>
   <main class='container'>
      <form id='searchform'>
         <div class='row'>
            <div class='form-group input-group m-2'>
               <input type="text" name="username" id="username" class='hide' value=<%= body.username %>>
               <input type="text" name="search" id="search" class='form-control' placeholder="Search">
               <button type='button' class='btn btn-light' id='searchbtn'><img src="search_icon.png" alt="search icon" width="20" height="20"></button>
            </div>
         </div>
         <div id='results'></div>
      </form>
   </main>
   <script src='jquery-3.5.1.min.js'></script>
   <script>
      $(document).ready(function () {
         $('#searchbtn').click(function () {
            let info = JSON.stringify($('#searchform').serialize());
            console.log(info);
            $.post('/search', info, function (data){
               $('#results').html(data);
            });
         });
      });
   </script>
</body>
</html>